@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 5px;
    margin: 0;
    border: border-box;
    text-decoration: none;
}

:root{
    --main-color: #004B8E;
    --text-second-color: #666666;
    --text-color: black;
    
    
}

.top{
    display: flex;

}

.Talkzone{
    padding-left: 50px;
    padding-top: 20px;
    font-size: 4rem;
    font-family:sans-serif;
    color: var(--main-color);
    
}

.sign-in{
    font-size: 1rem;
    font-family: sans-serif;
    color: var(--text-second-color);
    padding-top: 50px;
    margin-left: auto;
    margin-right: 20rem;
    font-family: sans-serif;
}

.sign-in a{
    color: #004B8E;
    border: 3px solid var(--main-color);
    border-radius: 33px;
    padding: 10px;
    width: 100px;
    font-family: sans-serif;
    transition: 0.2s;
}

.sign-in a:hover{
    color: white;
    background-color: #004B8E;
}



.spart{
    display: flex;
    
    
}

.logoimg{
    margin:auto;
    background-image: url(/Images/Login.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 500px;
    
}



.details{
   margin-right: auto;
    
}
.welcome{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.register-acc{
    font-size: 1rem;
    font-family: sans-serif;
    color: var(--text-second-color);
    margin-top: -5px;
}

.Name{
    font-family: sans-serif;
    margin-top: 20px;
}

.input-name input{
    /* margin-top: 0px; */
    width: 400px;
    padding: 10px;
    border: 2px solid var(--main-color); 
    border-radius: 10px; 
    font-size: 16px; 
    color: #666666; 
    

}


.email{
    font-family: sans-serif;
    margin-top: 20px;
}

.input-email input{
    /* margin-top: 0px; */
    width: 400px;
    padding: 10px;
    border: 2px solid var(--main-color); 
    border-radius: 10px; 
    font-size: 16px; 
    color: #666666; 
    
}
.pword{
    font-family: sans-serif;
    margin-top: 20px;
}

.input-pw input{
    /* margin-top: -10px; */
    width: 400px;
    padding: 10px;
    border: 2px solid var(--main-color); 
    border-radius: 10px; 
    font-size: 16px; 
    color: #666666; 
    
}

.login-btn a{
    color: white;
    padding: 25px;
}

.login-btn{
    margin-top: 15px;
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;
    width: 100px;
    height: 25px;
    background-color: var(--main-color);
    border-radius: 33px;
}



/* Responsivie code */


@media (max-width: 1100px){
    .Talkzone{
        padding: 40px;
        font-size: 3rem;
        margin-left: auto;
    }

    
}
@media (max-width: 530px){
    .Talkzone{
        padding: 20px;
        font-size: 3rem;
        margin-right: auto;
    }

    
}
@media (max-width: 460px){
    .Talkzone{
        padding: 10px;
        font-size: 3rem;
        margin-right: auto;
    }

    
}

@media (max-width: 480px){
    .input-pw input,
    .input-name input{
        width: 350px;
    }
    
}

@media (max-width: 435px){
    .input-pw input,
    .input-name input{
        width: 280px;
    }
    
}
@media (max-width: 370px){
    .input-pw input,
    .input-name input{
        width: 250px;
    }
    
}
@media (max-width: 330px){
    .input-pw input,
    .input-name input{
        width: 200px;
    }
    
}


@media (max-width: 1000px){
    .logoimg{
        height: 300px;
        width: 300px;
    }
}
@media (max-width: 750px){
    .logoimg{
        height: 200px;
        width: 200px;
    }
}
@media (max-width: 640px){
    .logoimg{
        display: none;
    }
    .details{
        margin: auto;
    }
}